* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
    background-color: #F5F5F5;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.register-form {
    flex: 1;
    max-width: 40%;
    padding: 30px;
}

.register-form h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1em;
    color: #555;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.register-form button {
    width: 100%;
    padding: 10px;
    background-color: #ffef0a;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

.register-form button:hover {
    background-color: #dfd005;
}

.register-form a {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #007BFF;
    text-decoration: none;
    font-size: 0.9em;
}

.register-form a:hover {
    text-decoration: underline;
}

.contrasenias {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 10px; 
}

.contrasenias label {
    margin-right: 5px; 
}

.contrasenias input {
    flex: 1; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bloque{
    align-items: center;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #ffef0a;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.back-button:hover {
    background-color: #dfd005;
}

.back-button:active {
    transform: scale(0.95);
}
