/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Contenedor principal */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #F9F9F9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Título */
.container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Labels */
form label {
    text-align: left;
    font-size: 1em;
    color: #555;
}

/* Inputs y textarea */
form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

/* Botón */
form button {
    padding: 10px;
    background-color: #ffef0a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

form button:hover {
    background-color: #ffef0a;
}
